@charset "utf-8";

/* CSS Document */
.imgFlash { width:530px; height:300px; position:relative;overflow:hidden;}
.imgFlash .imgBox { width:530px; height:300px;overflow:hidden; }
.imgFlash .imgBox img { width:530px; height:300px; display:block; }
.imgFlash .num { text-align:right; width:270px; margin-left:255px; height:17px; line-height:17px; font-family:Arial; font-size:11px; margin-top:275px;}
.imgFlash .num a { text-decoration:none; padding:3px 6px; background-color:#676a66; color:#fff; margin-left:4px; }
.imgFlash .num a.mosve { color:#fff; background-image:none; background-color:#ff6400; text-decoration:none; }
.imgFlash .txt { display:block; width:510px; text-align:left; height:30px; line-height:30px; opacity:0.7; filter:Alpha(Opacity=70); -moz-opacity: 0.7; background:#000; position:absolute; left:0; bottom:0; z-index:10; padding-left:20px; font-family:ו; font-size:14px;}
.imgFlash .txt a { color:#FFF; text-decoration:none; font-weight:bold; }
.imgFlash .txt a:hover { color:#FFF; text-decoration:underline; }
.imgFlash { clear:both; overflow:hidden; }
.imgFlash .imgBox { overflow:hidden; position:relative; z-index:1; }
.imgFlash .imgBox p { position:relative; float:left; margin:0; padding:0; }
.imgFlash .imgBox p img { position:relative; float:left; }
.imgFlash .num { position:absolute; z-index:99; }

