
/*基本信息*/
body {
	margin: 0px;
	padding:0px;
	font-size:12px;
	color: #333333;
	text-decoration: none;
	background-image: url(images/w5.jpg);
	background-repeat: repeat-x;
	background-color: #f2f2f2;
}

img{border:0px}
/*文字链接*/

a {font-size: 12px;color: #333333;text-decoration: none;}
a:hover {
	color: #990000;
	text-decoration: underline;
}

a.a1{font-size: 12px;color: #1b7fc5;text-decoration: none;}
a.a1:hover {
	color: #990000;
	text-decoration: underline;
}

a.a2{font-size: 12px;color: #ffffff;text-decoration: none;}
a.a2:hover {
	color: #fff000;
	text-decoration: underline;
}

/*带背景的文字链接*/
a.nav {
	font-size: 12px;
	padding:0px;
	margin:0px;
	color: #ffffff;
	line-height:43px;
	text-decoration: none;
	display:block;
	height: 43px;
	width: 88px;
	background-image: url(images/index_05.jpg);
	float:left;
	text-align: center;
	font-weight: bold;
}
a.nav:hover {
	text-decoration: none;
	color: #ffffff;
	background-image: url(images/index_06.jpg);
	font-weight: bold;
}

a.nav1 {
	font-size: 14px;
	padding:0 0 0 21px;
	margin:0px;
	color: #154565;
	line-height:40px;
	text-decoration: none;
	display:block;
	height: 40px;
	width:180px;
	background-image: url(images/nei_14.jpg);
	font-weight: bold;
}
a.nav1:hover {
	text-decoration: none;
	color: #ffffff;
	background-image: url(images/nei_15.jpg);
}
/*文本文档*/
.z1 {font-size: 12px;color: #ffffff;text-decoration: none;}
.z2 {
	font-size: 14px;
	color: #093c5f;
}
.z3 {font-size: 14px;color: #ffffff;text-decoration: none;}
/*输入框*/
.text {
	height: 21px;
	line-height:21px;
	width: 160px;
	margin:0px;
	padding:0 0 0 4px;
	border: 1px solid #CCCCCC;
	color: #999999;
}
.text1 {
	height: 24px;
	line-height:24px;
	width: 140px;
	margin:0px;
	padding:0px;
	border: 1px solid #CCCCCC;
	color: #999999;
}
.text2 {
	height: 24px;
	line-height:24px;
	width: 195px;
	margin:0px;
	padding:0px;
	border: 1px solid #CCCCCC;
	color: #999999;
}

/*输入框*/
.k1 {
	border: 1px solid #dcdcdc;
}
.k2 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dcdcdc;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #dcdcdc;
	border-left-color: #dcdcdc;
}
.k3 {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
}

.show_cont h3{text-align:center;margin:5px 0 10px 0;font-size:14px; color:#444;}
.ly{text-align:center;background:#f9f9f9;border:1px solid #ccc;margin:0 25px 15px 25px; color:#999;}
